# Environment
.env

# Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
rag_web.db
langchain.db

# ChromaDB
chroma/

# Frontend
frontend/node_modules/


# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
